<?xml version='1.0' encoding='utf-8' ?>
<widget id="io.cocoon.template.phaser.orb" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cocoon="http://cocoon.io/ns/1.0">
    <name>Phaser template</name>
    <description>
        Phaser template for Cocoon.io cloud compiler based on Andrzej Mazur's Cyber Orb demo at https://github.com/EnclaveGames/Cyber-Orb.
    </description>
    <author email="andrzej.mazur@end3r.com" href="http://end3r.com/">
        Andrzej Mazur
    </author>
    
    <!-- Shown in the wizard -->
    <icon src="icon.png" />

    <content src="index.html" />
    <access origin="*"/>

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />

    <cocoon:plugin name="com.ludei.canvasplus.ios" />
    <cocoon:plugin name="com.ludei.canvasplus.android" />  

    <cocoon:plugin name="cordova-plugin-vibration"/> 
</widget>
